<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil X</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>

<div class="container">

    <aside class="sidebar">

        <div class="logo">
            <i class="fa-brands fa-x-twitter"></i>
        </div>

        <nav class="menu">
            <a href="/">
                <i class="fa-solid fa-house"></i>
                <span>Accueil</span>
            </a>

            <a href="#"><i class="fa-solid fa-magnifying-glass"></i><span>Explorer</span></a>
            <a href="#"><i class="fa-regular fa-bell"></i><span>Notifications</span></a>
            <a href="#"><i class="fa-regular fa-envelope"></i><span>Messages</span></a>
            <a href="#"><i class="fa-solid fa-users"></i><span>Communautés</span></a>
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i><span>Grok</span></a>
            <a href="#"><i class="fa-regular fa-bell"></i><span>Signets</span></a>
            <a href="#"><i class="fa-regular fa-envelope"></i><span>Premium</span></a>
            <a href="#"><i class="fa-solid fa-users"></i><span>Organisations ce</span></a>
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i><span>Plus</span></a>
            <a href="#"><i class="fa-regular fa-bell"></i><span>Recherche</span></a>


            <a href="#" class="active">
                <i class="fa-solid fa-user"></i>
                <span>Profil</span>
            </a>
        </nav>
 <button id="submit-tweet-btn">Poster</button>
        <div class="sidebar-profile">
            <img id="sidebar-avatar" class="user-avatar-element" src="https://i.pravatar.cc/50?img=12">
            <div>
                <h4 id="sidebar-name">Utilisateur</h4>
                <p id="sidebar-username">@user</p>
            </div>
        </div>

    </aside>

    <main class="main-content">

        <div class="top-bar">
            <div onclick="window.history.back()" style="cursor:pointer;">
                <i class="fa-solid fa-arrow-left"></i>
            </div>

            <div>
                <h2 id="top-bar-name">Profil</h2>
            </div>
        </div>

        <div class="cover-photo">
            <img id="profile-banner-img" src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f">
            <input type="file" id="banner-file-input" hidden>
        </div>

        <div class="profile-section">

            <div class="profile-top">

                <div>
                    <img id="profile-avatar" class="profile-picture user-avatar-element" src="https://i.pravatar.cc/150?img=12">
                    <input type="file" id="avatar-file-input" hidden>
                </div>

                <button id="edit-profile-btn">Éditer</button>

            </div>

            <div class="profile-details">

                <h2 id="profile-name">Utilisateur</h2>

                <p id="profile-username">@user</p>

                <p id="profile-bio">Bio</p>

            </div>

        </div>

        <div class="tweet-box">

            <textarea id="tweet-textarea" placeholder="Quoi de neuf ?"></textarea>



        </div>

        <div id="user-tweets-container"></div>

    </main>

</div>

</body>
</html>
